<?xml version="1.0" encoding="UTF-8" ?>    
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">     
<mapper namespace="com.graduation.season.bookmanager.mapper.TestMapper">
    <!--<select id="getAllStudents" resultType="java.util.Map">
        select outid , name from edu_status limit 100
    </select>-->
    <select id="getAllStudents" resultType="java.util.Map">

    </select>
</mapper>